/* Estilos base para todos los dispositivos */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
}

nav {
    padding-bottom: 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Eliminar el margen predeterminado */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

h1, h2 {
    text-align: center;
    margin: 0;
    padding: 2%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#section-container{
    height: 55%;
    top: 0%;
    position: relative;
    overflow: auto;
    margin: 1em;
}

#sobre-mi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sobre-mi .content{
    display: flex;
    flex-direction: column;
}

#sobre-mi p {
    flex: 1;
}

#sobre-mi img {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-left: 20px; /* Espacio entre el párrafo y la imagen */
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    header {
        padding: 20px 0; /* Aumentar el espaciado superior e inferior del encabezado */
    }

    nav ul li {
        display: block; /* Mostrar los elementos de la lista como bloques */
        margin-bottom: 10px; /* Añadir un poco de espacio entre los elementos de la lista */
    }
    #sobre-mi {
        display: flex;
        flex-direction: column;
    }
}

/* Estilos adicionales para resoluciones más grandes */
@media (min-width: 768px) {
    header {
        padding: 30px 0; /* Aumentar el espaciado superior e inferior del encabezado */
    }

    nav ul li {
        display: inline; /* Mostrar los elementos de la lista en línea nuevamente */
        margin-bottom: 0; /* Eliminar el espacio entre los elementos de la lista */
    }
}
