/* Estilos base para todos los dispositivos */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #666363;
    color: #fff;
    text-align: center;
    position: relative;
}

nav {
    padding-bottom: 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Eliminar el margen predeterminado */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}
.home-title{
    text-decoration: none;
}
.home-title>h1{
    color: #fff;
}
h1, h2 {
    text-align: center;
    margin: 0;
    padding: 2%;
}

footer {
    bottom: 0;
    left: 0;
    height: 10%;
    background-color: #666363;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal, dejando espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor flex */
}
.social-links {
    list-style: none; /* Elimina los estilos de lista */
    display: flex; /* Para que los elementos de la lista sean flexibles */
    gap: 10px; /* Espacio entre los elementos de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

.social-links li {
    display: inline-block; /* Para que los elementos de la lista aparezcan en línea */
    margin: 0.5rem;
}

.social-links li img {
    width: 30px; /* Establece un ancho fijo para la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    transition: transform 0.3s ease; /* Agrega una transición suave para la transformación */
}

.social-links li:hover img {
    transform: scale(1.3); /* Escala la imagen al hacer hover */
    opacity: 50%;
    transition: 0.3s;
}
#sobre-mi .content{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

#sobre-mi-hijo{
    display: flex;
}

#sobre-mi img{
    width: 350px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}

#sobre-mi-img {
    display: flex;
    justify-content: center;
}

#container{
    top: 0%;
    position: relative;
    overflow: auto;
    margin: 1em;
}

#contador{
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

#contador>div{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

#contador>div>span:first-child{
    text-align: center;
    font-size: large;
}

.timeline{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.experience{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    margin: 1.5rem;
    flex-grow: 1;
    cursor: pointer;
}
.experience:hover{
    transition: 0.5s;
    background-color: #a19e9e70;
}
.company-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    header {
        padding: 20px 0; /* Aumentar el espaciado superior e inferior del encabezado */
    }

    nav ul li {
        display: block; /* Mostrar los elementos de la lista como bloques */
        margin-bottom: 10px; /* Añadir un poco de espacio entre los elementos de la lista */
    }
    #sobre-mi-hijo {
        display: flex;
        flex-direction: column;
    }
    .timeline{
        display: flex;
        flex-direction: column;
    }
    #sobre-mi .content{
        margin-right: 0;
    }
}

/* Estilos adicionales para resoluciones más grandes */
@media (min-width: 768px) {
    header {
        padding: 30px 0; /* Aumentar el espaciado superior e inferior del encabezado */
    }

    nav ul li {
        display: inline; /* Mostrar los elementos de la lista en línea nuevamente */
        margin-bottom: 0; /* Eliminar el espacio entre los elementos de la lista */
    }
}
