<div id="sobre-mi" class="section active">
    <div class="content">
        <h2>Sobre mí</h2>
        <p>¡Hola! Soy Martxel, estudiante de cuarto año de Ingeniería Informática, 
            con experiencia en desarrollo full stack y administración de bases de datos. Actualmente, 
            estoy inmerso en mi Trabajo de Fin de Grado como desarrollador full stack en Innguma. Además, 
            mi TFG incluye una parte dedicada a la generación de una base de datos conectada a una IA 
            que se retroalimenta para poder clasificar y etiquetar nuevas fuentes. 
            Con dos años de experiencia como administrador de bases de datos en la Universidad de Mondragón 
            y una experiencia en Suecia gracias al programa Erasmus, estoy enfocado en expandir mis habilidades 
            y conocimientos en el campo tecnológico.</p>
    </div>
    <img src="/images/sobre-mi.jpeg" alt="Tu foto"/>
</div>